/* 
  Created on: Feb 24, 2014
  Author    : Octavian Theodor NITA (mnothro@yahoo.com)
*/

@charset "utf-8";

@font-face {
  font-family: "Old Standard TT";
  src: url("../fonts/oldstandard-regular.eot");
  src:
    url("../fonts/oldstandard-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oldstandard-regular.ttf") format("truetype"),
    url("../fonts/oldstandard-regular.svg#oldstandardtt") format("svg"),
    url("../fonts/oldstandard-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Antonio Light";
  src: url("../fonts/antonio-light.eot");
  src:
    url("../fonts/antonio-light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/antonio-light.ttf") format("truetype"),
    url("../fonts/antonio-light.svg#antonio-light") format("svg"),
    url("../fonts/antonio-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oranienbaum";
  src: url("../fonts/oranienbaum-regular.eot");
  src:
    url("../fonts/oranienbaum-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oranienbaum-regular.svg#oranienbaum-regular") format("svg"),
    url("../fonts/oranienbaum-regular.ttf") format("truetype"),
    url("../fonts/oranienbaum-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Signerica Fat";
  src: url("../fonts/signericafat.eot");
  src:
    url("../fonts/signericafat.eot?#iefix") format("embedded-opentype"),
    url("../fonts/signericafat.svg#signericafat") format("svg"),
    url("../fonts/signericafat.ttf") format("truetype"),
    url("../fonts/signericafat.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
